<%- include("header") %> 

<h2>This is about page made by subhanshu garg</h2>
<p>lkajflkjewohfaoj fojaojejojfj okakfjjajhoejfok lkajfkjnweiujofjaewao jfoijewoijfoajofjoewj foiajfojkajfkjhoejfohs</p>

<%- include("footer") %> 